{% extends 'base.html.twig' %}

{% block body %}
<html>
    <head>
        <title>{% block title %}Logout{% endblock %}</title>      
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <form action="{{ path('logout') }}" method="post">
    </head>
    <body>
        <div class="alert alert-success">Zostałeś wylogowany</div>
          
         <a href="{{ path('login') }}">zaloguj</a>
    </body>
</html>
{% endblock %}

