body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

#form-signin-heading {
    text-align: center;
}

.alert.alert-danger:hover {
    cursor: pointer;
}

.form-register-control {
    margin: 10px 0;
}

.form-signin, .form-signin-product,.log-in,.form-signin-edit-user {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.g-recaptcha{
    max-width: 330px;  
    margin: 0 auto;
    margin-top: 10px;
}
.rc-anchor-alert{
    margin: 10px;
} 


.form-signin #form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .btn, .form-signin-edit-user .btn  {
    margin-top: 10px;
}
.log-in .btn {
    margin-top: 10px;
}
.form-signin-product .btn{
    margin-top: 10px;  
}
.alert.alert-success {
    text-align: center;
}

.alert.alert-danger {
    font-size: 12px;
}

.alert.alert-hide {
    display: none;
}
.upper-strip {
    font-size: 30px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #81F7BE;
    text-align: center;
}

.form-signin-heading-edit-user{
    text-align: center;
}

.footer {
    font-size: 11px;
    color: #666;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;

}

.advertisement{
    padding: 3px;

}
.advertisement:hover {
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);
    background-color: #d9edf7;
    position: relative;
    z-index: 2;
    display: block;
    border: 3px solid #81F7BE; 
    padding: 0px;

}
div.table a:hover {text-decoration: none;
}

.footer li {list-style: none;
    display: inline;
    float: left;
    padding-right: 10px;
}