
    <html>
        
        <body>
            <div>Witaj<br>
                Założyłeś konto w serwisie ogłoszeniowym<br>
                <br>
                Nazwa użytkownika: {{ users.username }}<br>
                <br>
                UWAGA: Wiadomość jest generowana automatycznie, proszę na nią nie odpowiadać.<br>
            </div>
        </body>
    </html>

